@media all and (min-width:768px) and (max-width:1023px) { 
    /* 배너 */
.carousel-inner > .carousel-item > img{
    width: 300px;
    height: 250px;
}

/* 상품 카드 */
img {
    width: 200px;
    height: 184px;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    /* height: auto; */
}

.card {
    margin-top: 80px;
}

.card-body {
    padding: 8px;
    background-color: rgba(232, 247, 251, 35);
}

.card-title {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.card {
    background-color: #f3f3f3;
    border-radius: 1rem;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 240px; */
    flex: 1 0 240px;
    max-width: 240px;
}

.card-image {
    background: url("../img/유정은.jpg");
    background-size: cover;
    height: 0;
    padding-bottom: 66.66666667%; /* 사진의 비율을 240x160에 맞추자 */
    border-radius: 1rem 1rem 0 0;
}

.card-description {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px;
}

.card-title {
    display: flex;
    justify-content: center;  /* 날짜 | 식 가운데 정렬 */
    column-gap: 8px;
}

.card-price {
    text-align: center;
}

/* 네비바 */
header {
    width: 500px;
    position: fixed;
    top: 0;
}

ul#nav-list {
    display: flex; /* 기본값: 수평 방향 */
    column-gap: 1.25rem; /*25px*/
    width: 550px;
    padding: 0;
    line-height: 35px;
    margin: auto 0;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

div.name-tag{
    margin-left: 33%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none; /* list 점 없애기 */
    justify-content: center;
}

p {
    text-align: center;
    color: #008156;
    font-size: medium;
    font-weight: bold;
    margin: 3px;
}

.div-container {
    position: fixed;
    left: 34%;
}

.div-colorbox {
    width: 500px;
    height: 30px;
    background-color: rgba(189, 232, 242, 35%);
    border: 1px solid black;
    border-radius: 1rem 1rem 0 0;
}

.div-menubox {
    width: 500px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 0 0 1rem 1rem;
}

img.d-block.w-100 {
    margin-top: 2%;
}

a.nav-link {
    color: black;
    font-weight: bold;
}
}
