header {
    width: 500px;
    position: fixed;
    top: 0;
}

ul#nav-list {
    display: flex; /* 기본값: 수평 방향 */
    column-gap: 1.875rem; /*25px*/
    width: 550px;
    padding: 0;
    line-height: 35px;
    margin: auto 0;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    margin-left: 10%;
    margin-top: 2%;
}

div.name-tag{
    margin-left: 33%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none; /* list 점 없애기 */
    justify-content: center;
}

p {
    text-align: center;
    color: #008156;
    font-size: medium;
    margin: 3px;
}

.div-container {
    position: fixed;
    left: 34%;
}

.div-colorbox {
    width: 500px;
    height: 30px;
    background-color: rgba(189, 232, 242, 35%);
    border: 1px solid black;
    border-radius: 1rem 1rem 0 0;
}

.div-menubox {
    width: 500px;
    height: 60px;
    background-color: #f3f3f3;
    border: 1px solid black;
    border-radius: 0 0 1rem 1rem;
}

img.card-img{
    width: 150px;
}

div.card-content-box{
    display: flex;
    text-align: center;
    float: left;
    width:100%;
}

div.card-content-box2{
    display: flex;
    text-align: center;
    float: left;
    width:100%;
}

div.content{
    margin: 40px;
}

.card-content-box {
    margin-top: -1%;
    margin-left: 15%;
}

.card-content-box2 {
    margin-left: 15%;
}

ul.left-nav-list {
    column-gap: 1.875rem; /*25px*/
    width: 200px;
    padding: 0;
    line-height: 35px;
    margin: auto 0;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    margin-top: 2%;
    background-color: rgba(0, 129, 86, 13%);
}

a.left-nav-link {
    text-decoration: none;
    color: black;
}

a.left-nav-link2 {
    text-decoration: none;
    color: red;
}

li.left-nav-item2 {
    background-color: rgba(255, 0, 0, 10%);
}

ul {
    list-style: none; /* list 점 없애기 */
    justify-content: center;
}

.nav-link {
    color: black;
}

ul.left-nav-list {
    width: 130px;
}

.card-content-box {
    margin: 3% 3% 0 3%;
}

.card-content-box2 {
    margin: 0 3% 3% 3%;
}

.card-content-box, .card-content-box2 {
    background-color: rgba(189, 232, 242, 35%);
}

.content-box {
    margin: 5%;
}