
header {
    width: 500px;
    position: fixed;
    top: 0;
}


div.profile-box{
    margin-left: 30%;
}
ul#nav-list {
    display: flex; /* 기본값: 수평 방향 */
    column-gap: 1.875rem; /*25px*/
    width: 550px;
    padding: 0;
    line-height: 35px;
    margin: auto 0;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    margin-left: 10%;
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: black;
    font-size: medium;
}

ul {
    list-style: none; /* list 점 없애기 */
    justify-content: center;
}

p {
    text-align: center;
    color: #008156;
    font-size: medium;
    margin: 1.2%;
}

.div-container {
    position: fixed;
    left: 34%;
}

.div-colorbox {
    width: 51%;
    height: 24px;
    background-color: rgba(189, 232, 242, 35%);
    border: 1.5px solid black;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
}

.div-menubox {
    width: 51%;
    height: 15%;
    background-color: #f3f3f3;
    border: 1.5px solid black;
    border-radius: 0 0 1rem 1rem;
}

@media screen and ( max-width:767px){
    div.nametag{
        margin-top: 0%;
        margin-left: 15%;
        
    }
    div.profile-box{
        margin-left: 0%;
        
    }
    ul#nav-list {
        display: flex; /* 기본값: 수평 방향 */
        column-gap: 1.875rem; /*25px*/
        width: 550px;
        padding: 0;
        line-height: 35px;
        margin: auto 0;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        margin-left: 10%;
        margin-top: 2%;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-size: 100%;
    }
    
    ul {
        list-style: none; /* list 점 없애기 */
        justify-content: center;
    }
    
    p {
        text-align: center;
        color: #008156;
        font-size: medium;
        margin: 3px;
        margin-top: 1%;
        font-size: 80%;
    }
    
    .div-container {
        position: fixed;
        left: 34%;
    }
    
    .div-colorbox {
        width: 80%;
        height: 30%;
        background-color: rgba(189, 232, 242, 35%);
        border: 1.5px solid black;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        justify-content: center;
    }
    
    .div-menubox {
        width: 80%;
        height: 40%;
        background-color: #ffffff;
        border: 1.5px solid black;
        border-radius: 0 0 1rem 1rem;
        padding-top: 0%;
        padding-bottom: 1%;
    }

    div.profile-box{
        text-align: center;
        background-color: #bde8f27f;
        margin-top: 120px;
        padding: 8%;
        border-radius: 50px;
    }
    img.profile{
        width: 60px;
        border-radius: 40px;
    }
    div.profile{
        margin: 0;
    }
    select#grade{
        margin-right: 2%;
    }
    input{
        border-radius: 8px;
    }
    button.select{
        width: 100px;
        padding: 10px;
        border-radius: 40px;
        margin-top: 20px;
        background-color: #232D2F;
        color: white;
    }
    
}
@media screen and (min-width:768px)
and (max-width:1023px){
    div.nametag{
        margin-top: 0%;
        margin-left: 26%;
        justify-content: center;
    }
    .div-colorbox {
        width: 61%;
        height: 8%;
        background-color: rgba(189, 232, 242, 35%);
        border: 1.5px solid black;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        justify-content: center;
    }
    .div-menubox {
        width: 61%;
        height: 15%;
        background-color: #f3f3f3;
        border: 1.5px solid black;
        border-radius: 0 0 1rem 1rem;
    }
        
    ul#nav-list {
        display: flex; /* 기본값: 수평 방향 */
        column-gap: 1.875rem; /*25px*/
        width: 550px;
        padding: 0;
        line-height: 35px;
        margin: auto 0;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        margin-left: 10%;
        margin-top: 2%;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
    
    ul {
        list-style: none; /* list 점 없애기 */
        justify-content: center;
    }
    
    p {
        text-align: center;
        color: #008156;
        font-size: medium;
        margin: 3px;
    }
    div.profile-box{
        text-align: center;
        background-color: #bde8f27f;
        margin: 10% 0% 0% 0%;
        padding: 8%;
        border-radius: 50px;
    }
    img.profile{
        width: 60px;
        border-radius: 40px;
    }
    div.profile{
        margin: 0;
    }
    select#grade{
        margin-right: 2%;
    }
    input{
        border-radius: 8px;
    }
    button.select{
        width: 150px;
        padding: 10px;
        border-radius: 40px;
        margin-top: 20px;
        background-color: #232D2F;
        color: white;
    }
}
@media screen and (min-width:1024px) {
    div.nametag{
        margin-top: 0%;
        margin-left: 34%;
        justify-content: center;
        
    }
    div.profile-box{
        text-align: center;
        background-color: #bde8f27f;
        margin: 20%;
        margin-top: 3%;
        padding: 3%;
        border-radius: 50px;
    }
    img.profile{
        width: 80px;
        border-radius: 40px;
    }
    div.profile{
        margin: 0;
    }
    select#grade{
        margin-right: 2%;
    }
    input{
        border-radius: 8px;
    }
    button.select{
        width: 200px;
        padding: 10px;
        border-radius: 40px;
        margin-top: 20px;
        background-color: #232D2F;
        color: white;
    }
    
}