ul.left-nav-list {
    column-gap: 1.875rem; /*25px*/
    width: 200px;
    padding: 0;
    line-height: 35px;
    margin: auto 0;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    margin-top: 2%;
    background-color: rgba(0, 129, 86, 13%);
}

a.left-nav-link {
    text-decoration: none;
    color: black;
}

a.left-nav-link2 {
    text-decoration: none;
    color: red;
}

li.left-nav-item2 {
    background-color: rgba(255, 0, 0, 10%);
}

ul {
    list-style: none; /* list 점 없애기 */
    justify-content: center;
}

.nav-link {
    color: black;
}

ul.left-nav-list {
    width: 130px;
}